# Shopping Mart Recommendation...

### Import Libraries

In [3]:
import pandas as pd

In [1]:
from mlxtend.frequent_patterns import apriori
from mlxtend.preprocessing import TransactionEncoder

# Read Dataset

In [2]:
A = [['Milk', 'Onion', 'Chhole', 'Rajma', 'Ghee', 'Dahi'],
     ['Brinjal', 'Onion', 'Chhole', 'Rajma', 'Ghee', 'Dahi'],
     ['Milk', 'Apple', 'Rajma', 'Ghee'],
     ['Milk', 'Mutter', 'Corn', 'Rajma', 'Dahi'],
     ['Corn', 'Onion', 'Onion', 'Rajma', 'Ice cream', 'Ghee']]

In [4]:
te = TransactionEncoder()

In [5]:
Q = pd.DataFrame(te.fit_transform(A),columns=te.columns_)

In [6]:
Q

,Apple,Brinjal,Chhole,Corn,Dahi,Ghee,Ice cream,Milk,Mutter,Onion,Rajma
0,False,False,True,False,True,True,False,True,False,True,True
1,False,True,True,False,True,True,False,False,False,True,True
2,True,False,False,False,False,True,False,True,False,False,True
3,False,False,False,True,True,False,False,True,True,False,True
4,False,False,False,True,False,True,True,False,False,True,True

In [7]:
W = apriori(Q,use_colnames=True)

In [8]:
W

    support              itemsets
0       0.6                (Dahi)
1       0.8                (Ghee)
2       0.6                (Milk)
3       0.6               (Onion)
4       1.0               (Rajma)
5       0.6         (Rajma, Dahi)
6       0.6         (Onion, Ghee)
7       0.8         (Rajma, Ghee)
8       0.6         (Rajma, Milk)
9       0.6        (Onion, Rajma)
10      0.6  (Onion, Rajma, Ghee)

In [9]:
Q[(Q.Dahi==True)&(Q['Apple'])==True].shape[0]/3

0.0

In [10]:
Q[(Q.Chhole==True)]

,Apple,Brinjal,Chhole,Corn,Dahi,Ghee,Ice cream,Milk,Mutter,Onion,Rajma
0,False,False,True,False,True,True,False,True,False,True,True
1,False,True,True,False,True,True,False,False,False,True,True

In [11]:
for i in te.columns_:
    print(i,round(Q[(Q.Chhole==True)&(Q[i])==True].shape[0]/2,2))

Apple 0.0
Brinjal 0.5
Chhole 1.0
Corn 0.0
Dahi 1.0
Ghee 1.0
Ice cream 0.0
Milk 0.5
Mutter 0.0
Onion 1.0
Rajma 1.0